@import "theme/_constants";

.Modules{
  margin: 0 !important;
  position: relative;
  .ModulesSectionContent{
    z-index: 2;
    position: relative;
    margin: 0 auto;
    max-width: $section-width;
    width: 100%;
    padding: $section-padding $main-padding;
    @include media("<=tablet"){
      padding: $section-padding*.25 $main-padding;
    }
    @include media("portrait"){
      padding: $section-padding*.25 $main-padding;
    }
    >div {
      min-height: 60vh;
      min-height: calc(var(--vh, 1vh) * 60);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @include media("portrait") {
        justify-content: center;
        min-height: 20vh;
        min-height: calc(var(--vh, 1vh) * 20);
      }
      @include media("<=1024px") {
        justify-content: center;
        min-height: 30vh;
        min-height: calc(var(--vh, 1vh) * 30);
      }

      > div {
        background: $page-background-color--light;
        min-width: 300px;
        max-width: 500px;
        align-self: center;

        p, h4 {
          max-width: 55ex;

          em {
            font-weight: bold;
          }
        }
      }
    }
      >div:nth-of-type(6){
        padding-top: $content-padding/2;
        svg{
          height: 100%;
          width: 100vw;
        }
      }
    .ModulesSkip{
      display: none;
      position: sticky;
      top: $menu-page-padding;
      min-height: initial;
      //display: flex;
      flex-direction: row;
      justify-content: flex-end;
      >div{
        display: grid;
        grid: min-content min-content min-content / 1fr;
        justify-items: flex-end;
        grid-row-gap: $content-padding/8;
      }
    }
  }
  .ModulesCircleWrapper{
    z-index: 1;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    >div{
      position: sticky;
      top: 2rem;
      //background: mediumturquoise;
      display: grid;
      grid: 1fr / 1fr;
    }

    svg{
      transform-origin: center !important;
      display: none;
    }
    @include media(">1024px"){
      svg{
        display: initial;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        position: relative;
        left: -50vh;
      }
    }
  }
}

.Overview{
  margin: 0 !important;
  min-height: 50vh;
  min-height: calc(var(--vh, 1vh) * 50);
  background: $page-background-color--dark;
  padding: $section-padding 0;
  color: $page-background-color--light;
  >div{
    margin: 0 auto;
    padding: 0 $main-padding;
    max-width: $section-width;
    width: 100%;
    display: grid;
    grid: min-content 1fr 1fr / 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    p, h4 {
      max-width: 55ex;
    }

    > div:nth-of-type(1) {
      //background: red;
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }
    > div:nth-of-type(2) {
      //background: purple;
    }
    > div:nth-of-type(3) {
      //background: green;
    }
    > div:nth-of-type(4) {
      //background: teal;
    }
    > div:nth-of-type(5) {
      //background: orange;
      position: relative;
    }
    > div:nth-of-type(6) {
      //background: pink;
      grid-column: 3 / 4;
      grid-row: 2 / 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include media("<768px"){
      grid: min-content 1fr 1fr 1fr / 1fr 1fr;
      > div:nth-of-type(1) {
        //background: red;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
      > div:nth-of-type(6) {
        //background: pink;
        grid-column: 1 / 3;
        grid-row: 4 / 5;
      }
    }
  }
}