@import "theme/constants";
@import "theme/vendor_mixins";


.Teaser {
  display: flex;
  height: $content-padding * 1.25;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding-left: $main-padding;
  margin-left: calc((100vw - #{$main-width-max}) / 2);
  overflow: hidden;

  @include media("<=1280px") {
    margin-left: 0 !important;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @include media("<=tablet") {
    height: $content-padding * 1;
  }
  .down-line{
    @extend %vr;
  }

  .down-line--background {
    @extend %vr;
    background-color: white;
    position: absolute;
    left: 0;
    margin-left: $main-padding;
    top: 0px;
  }

  em{
    padding-left: 1rem;
  }
}



/*
@import "theme/constants";

.Teaser {

  height: $content-padding * 1.25;
  min-width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  //overflow: hidden;
  &--container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding-left: $main-padding;
    margin-left: calc((100vw - #{$main-width-max}) / 2);
    @include media("<=1280px") {
      margin-left: 0 !important;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    @include media("<=tablet") {
      height: $content-padding * 1;
    }

    .down-line {
      @extend %vr;
    }

    .down-line--background {
      @extend %vr;
      background-color: white;
      position: absolute;
      left: 0;
      margin-left: $main-padding;
      top: 15px;
    }

    em {
      padding-left: 1rem;
    }
  }
}
 */