@import "theme/_constants";
.border-button{
  padding: $content-padding*2 0;
  width: 100%;
  display: grid;
  grid-template-columns: calc( (100vw - #{$main-width-max}) / 2 ) auto 1fr;
  align-items: center;

  @include media("<=tablet") {
    padding: $content-padding*.5 0;
  }

  .icon{
    margin: 0 4px;
  }

  &--content {
    @extend %labeled-icon;



  }

  &--button{
    padding-left: $main-padding;
    padding-right: $main-padding / 2;
    display: inline-block;
  }
  &--line{
    height: $line-thickness;
    background-color: $line-color;
    position: relative;
    top: 1px;
  }

  &.reverse{
    grid-template-columns: 1fr 30ch calc( (100vw - #{$main-width-max}) / 2 );
    .border-button--button{
      padding-left: $main-padding / 2;
      padding-right: $main-padding;
    }
  }
}