@import "theme/constants";

.Form{
  input{
      @extend %default-text;
    font-weight: 300;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    width: 200px;
    &:focus {
      outline: none;
    }
  }
  button{
    border: none;
    background: none;
  }
}