@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('helveticaneue-webfont.eot');
    src: url('helveticaneue-webfont.eot') format('embedded-opentype'),
    url('helveticaneue-webfont.woff') format('woff'),
    url('helveticaneue-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "HelveticaNeue";
    src: url('Helvetica Neue Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url('Helvetica Neue Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url('Helvetica Neue.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue-Light";
    src: url('HelveticaNeue Light.ttf') format("truetype");
}