@import "theme/constants";
@import "theme/vendor_mixins";

.ThumbnailBase{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto min-content;
  cursor: pointer;

  em{
    margin: $content-padding/2 $content-padding/2 0;
  }
  div{
    margin: $content-padding/2 $content-padding/2 0;
    &:first-of-type{
      margin-top: 0;
    }
    &:nth-of-type(2){
      display: grid;
      grid-template-columns: min-content auto min-content;
      grid-template-rows: min-content 1fr;
      padding-bottom: 1rem;
      a div {
        margin: 0;
      }
      em{
        text-align: center;
        margin: 0;
      }
    }
  }
  h3 {
    padding: $content-padding/4 $content-padding/2;
    margin-bottom: 0 !important;
    background-size: 400% 200%;
    background-repeat: no-repeat;

    background-position: 0 15rem;
    transition: background-position .25s ease-in-out;
  }
  h3:hover{
    background-position: 0 0 !important;
  }

  &:hover{
    h3{
      background-position: 0 0 !important;
    }
  }
  @include media("<=768px") {
    em, div, h3{
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

.Expanded{
  @extend .ThumbnailBase;
  cursor: default;
  h3{
    background-position: 0 0 !important;
  }
}


.Details{
  align-self: stretch;
  margin-top: $content-padding/2;

  > div{
    display: grid;
    grid: 70vh / .4fr .6fr;
    grid-column-gap: $content-padding/2;
    height: 70vh;

    @include media("<=768px"){
      grid: auto / 1fr;
      height: auto;

      > div:nth-of-type(1) {
        display: none;
      }
    }


  >div:nth-of-type(1){
      text-transform: capitalize;
      margin-top: 22px !important;
      >div {
        cursor: pointer;
      }
    }
    > div:nth-of-type(2) {
      overflow: scroll;

      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: none;
        background-color: transparent;
      }

      &::-webkit-scrollbar
      {
        width: $line-thickness;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb
      {
        background-color: $page-background-color--dark;
        border: $line-thickness solid $page-background-color--dark;
      }


      >div:first-of-type{
        margin-top: 20px !important;
      }
    }
  }
}

.OfferingCard{
  margin: $content-padding/2 0;
  > div{
    display: grid;
    grid: 1fr / auto min-content;
    //justify-content: flex-end;
    //align-items: center;
    cursor: pointer;
    h4{
      //flex-basis: 300px;
    }
    &:hover{
      >div{
        padding-right: 2rem;
      }
    }
    >div{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 2.5rem;
      transition: padding-right .25s ease-out;
    }
  }
}