@import "theme/constants";
@import "theme/vendor_mixins";

.Thumbnail{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content auto 100px;
  cursor: pointer;
  border: $line-thickness solid $line-color;
  em{
    margin: $content-padding/2 $content-padding/2 0;
  }
  div{
    margin: $content-padding/2 $content-padding/2 0;
    &:first-of-type{
      margin-top: 0;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
  }

  h3 {
    padding: $content-padding/2;
    background-size: 400% 200%;
    background-repeat: no-repeat;

    background-position: 0 15rem;
    transition: background-position .5s ease-in-out;

  }
  h3:hover{
    background-position: 0 0 !important;
  }

  &:hover{
    h3{
      background-position: 0 0 !important;
    }
  }
}



.Details{

}