@import "theme/vendor_mixins";
@import "theme/constants";

.footer{
  .section-content{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    column-gap: 10%;
    align-items: center;
    margin-bottom: $section-padding*.25;

    > div:last-of-type{
      display: flex;
      flex-direction: column;
      p:first-of-type{
        margin-bottom: 0;
      }
    }
    @include media("<=tablet") {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;

      h2{
        max-width: 15ex;
      }

      > div:last-of-type{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        p {
          margin-left: 8px;
        }
      }
    }
  }

  &--cta{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon{
      position: relative;
      top: 4px;
    }
  }
  &--lb{
    display: none;
  }

}