@import "theme/vendor_mixins";
@import "theme/constants";

.Footer{
  background-color: $page-background-color--dark;
  color: $font-color--light;
  padding: $section-padding*.5 0 !important;
  h2, h3, em{
    color: $font-color--light;
  }

  .bottomNav{
    background-color: $font-color--light;
    background-clip: text;
    -webkit-background-clip: text;
    //color: transparent;
    color: rgba(247,247,247,1);
    background-size: 150% 150%;
    //background-blend-mode: 'saturation';
    h2{
      color: inherit;
    }
  }

  .cta{
    display: grid;
    grid-template-columns: auto min-content;
    grid-column-gap: $content-padding/4;
    justify-content: flex-start;
    align-items: center;
    //.icon{
    //  position: relative;
    //  top: 4px;
    //}
  }

  >div{
    > div:nth-of-type(1){
      margin-bottom: $content-padding !important;
    }
    > div:nth-of-type(2){
      >div:first-of-type {
        display: grid;
        grid-template-columns: auto min-content min-content min-content;
        grid-column-gap: 1rem;
        align-items: center;
      }
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    li{
      cursor: pointer;
      height: 100%;
      display: grid;
      align-items: center;
      margin: $content-padding/6 0;
    }
  }
}