@import "theme/vendor_mixins";

$font-color: #3A3A3A;
$page-background-color:  #fff;

$menu-color: #3A3A3A;
$menu-closed-height: 80px;
$menu-inverse-color: #c7c7c7;

$main-width-max: 1280px;
$main-padding: 2rem;

$icon-dark: #3A3A3A;
$icon-light: #c7c7c7;

$section-padding: 100px;


$section-width: $main-width-max;
$content-padding: 4rem;

$line-thickness: 2px;
$line-color: #3a3a3a;

@mixin fluid-type($min, $varible, $max){
  $clamp-size: #{'min(max(#{$varible}, #{$min}), #{$max})'};
  $clampped: #{'clamp(#{$min}, #{$varible}, #{$max})'};
  font-size: $clamp-size !important;
  font-size: $clampped !important;
}


%default-text{
  font-weight: 300;
  @include fluid-type(18px, 2vw, 1.414rem);
}

%helper-text{
  font-weight: bold;
  @include fluid-type(10px, 1vw, 16px);
  text-transform: uppercase;
}

%vr{
  background-color: $menu-color;
  width: $line-thickness;
  height: 100%;
}