$font-color: #3A3A3A;
$page-background-color:  #fff;

$menu--color: #3A3A3A;
$menu--closed-height: 80px;

$main--width-max: 1024px;
$main--padding: 2rem;

$icon-dark: #3A3A3A;

$section-padding: 100px;
$section-width: 750px;
$content-padding: 4rem;

$line--thickness: 2px;
$line--color: #3a3a3a;

%default-text{
  font-weight: 300;
  font-size: 18px;
}

%vr{
  background-color: $menu--color;
  width: $line--thickness;
  height: 100%;
}