@import "_constants";

@font-face {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  src: url('/fonts/Helvetica Neue Medium.ttf');
  src: url('/fonts/Helvetica Neue Bold.ttf');
  src: url('/fonts/Helvetica Neue.ttf');
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  font-size: 100%;
  color: $font-color;
  overscroll-behavior: none;
  *, *:before, *:after {
    box-sizing: border-box;
  }


  main {
    background-color: $page-background-color--light;
    max-width: 100vw;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
  }
}

h1{
  font-weight: bold;
  @include fluid-type(20px, 10vw, 5.653rem);
  margin: .75rem 0 !important;
}
h2{
  font-weight: bold;
  @include fluid-type(20px, 8vw, 3.998rem);
  margin: .75rem 0 !important;
}
h3 {
  font-weight: bold;
  @include fluid-type(20px, 3vw, 2.827rem);
  margin: .75rem 0 !important;
}
h4{
  font-weight: 300;
  @include fluid-type(20px, 2vw, 1.999rem);
  margin: .75rem 0 !important;
  em{
    @extend h4;
    text-transform: initial;
    font-weight: bold !important
  }
}

em{
  @include fluid-type(10px, 1vw, .8rem);
  text-transform: uppercase;
  text-decoration: none;
  font-style: initial;
  font-weight: bold;
  letter-spacing: 1px;
}

span, p{
  @extend %default-text;
  line-height: 125%;
  margin: 1rem 0;
  em {
    @extend %default-text;
    text-transform: none;
    font-weight: bold;
    letter-spacing: 0;
  }
}

section{
  //padding: $section-padding 0;
  margin: $section-padding 0;
  @include media("<=tablet") {
    margin: $section-padding*.25 0;
    //padding: $section-padding*.75 0;
  }

  &.large{
    padding: $section-padding*1.75 0;
  }
  .section-content {
    margin: 0 auto;
    padding: 0 $main-padding;
    max-width: $section-width;
    width: 100%;
  }

  &:first-of-type{
    margin-top: 0;
  }
  &:last-of-type{
    margin-bottom: 0;
  }
}

a, a > * {
  color: $font-color;
  text-decoration: none;
}

::selection{
  background: $font-color;
  color: $menu-inverse-color;
  text-shadow: none;
}



