@import "./_constants";
@import "./_vendor_mixins";

.Index{
  .hero-banner {
    position: relative;
    padding: $main-padding;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    &#acommerce{
      background: url("/assets/img/hero-banner--background.png") center center no-repeat;
      background-size: cover;
    }
    &#foodturity{
      background: url("/assets/img/background--foodturity.jpg") center center no-repeat;
      background-size: cover;
    }
    &#neuiro{
      background: url("/assets/img/background--neuiro.jpg") center center no-repeat;
      background-size: cover;
    }

    &--wrapper{
      margin: 0 auto;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      .hero-banner--blob{
        cursor: pointer;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: end;
        align-self: end;
        background: url("/assets/img/blob_diffusion.png") center no-repeat;
        background-size: contain;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        min-height: 600px;
        width: 60%;
        @include media("<=tablet") {
          transform: scale(2);
        }
      }
      .hero-banner--content {
        z-index: 1;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: start;
        align-self: center;
        padding: $menu-closed-height $content-padding $content-padding calc((100vw - #{$main-width-max}) / 2);
        height: 100%;
        display: grid;
        grid-template-rows: 1fr min-content 20vh;
        grid-template-rows: 1fr min-content calc(var(--vh, 1vh) * 20);
        @include media("<=tablet") {
          grid-template-rows: 1fr min-content 10vh;
          grid-template-rows: 1fr min-content calc(var(--vh, 1vh) * 10);
        }
        @include media("<=phone") {
          grid-template-rows: 1fr min-content 1vh;
          grid-template-rows: 1fr min-content calc(var(--vh, 1vh) * 1);
        }
        .project-description{
          cursor: pointer;
        }
        h1 {
          max-width: 20ch;
          @include media("<=tablet") {
            max-width: 50ch;
          }
        }
      }
    }

    .content-nav{
      width: 70px;
      padding-top: $content-padding/4;
      display: flex;
      justify-content: space-between;
      >div{
        cursor: pointer;
      }
    }

    .bottom-menu{
      &--wrapper{
        //  display: flex;
        //  align-items: flex-end;
        //  background: white;
        //  margin: $content-padding/2 0;
        //  nav{
        //    display: grid;
        //    grid-template-rows: 1fr;
        //    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        //    align-items: center;
        //  }
        //}
        //
        //@include media("<=tablet"){
        visibility: hidden;
      }
    }

    //>div:last-of-type{
    //  background-color: red;
    //  display: flex;
    //  height: $content-padding * 1.5;
    //  position: absolute;
    //  bottom: 0;
    //  left: 0;
    //  box-sizing: border-box;
    //  padding-left: $main-padding;
    //  margin-left: calc((100vw - #{$main-width-max}) / 2);
    //  @include media("<=1280px") {
    //    margin-left: 0 !important;
    //    position: absolute;
    //    bottom: 0;
    //    left: 0;
    //  }
    //  .down-line{
    //    @extend %vr;
    //  }
    //  em{
    //    padding-left: 1rem;
    //  }
    //}
  }
  .tagline{
    @include media("<=tablet"){
      visibility: hidden;
    }
  }
}

.About{
  .banner{
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    h2{
      max-width: 875px
    }
  }

  .methodology{
    h4{
      max-width: 55ex;
    }
  }
  .services{
    h4{
      max-width: 55ex;
    }
  }

  .deliverables{
    padding-top: 0;
    &--container{
      display: grid;
      grid-template-columns: auto 400px;
      align-items: center;
      margin-right: calc((100vw - #{$main-width-max}) / 2);
      align-items: start;
      padding-right: $main-padding;
      grid-column-gap: $content-padding;

      @include media("<=1280px"){
        display: flex;
        flex-direction: column-reverse;
        margin-right: initial !important;
        > div:last-of-type {
          width: 100%;
          padding: 0 $main-padding $content-padding/4;
        }
      }
      @include media("<=tablet"){
        > div:last-of-type{
          padding-bottom: 0;
        }
      }
    }
    &--graphic{
      height: 60vh;
      height: calc(var(--vh, 1vh) * 60);
      width: 100%;
      position: sticky;
      top: 25%;
      overflow: hidden;
      display: flex;
      justify-content: center;

      img{
        height: 100%;
        object-fit: contain;
      }
    }
    &--content{
      > div{
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        margin: $content-padding 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media("<=1024px"){
          height: initial;
        }

        ul{
          margin: 0;
          padding-left: 0;
          list-style: none;

          p {
            margin: .5rem 0 .5rem 0;
          }

          li:not(:first-of-type){
            p {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  .team{
    margin-bottom: 0;
    &--container{
      .team--header{
        display: grid;
        grid-template-columns: 300px auto;
        align-items: center;
        margin-left: calc((100vw - #{$main-width-max}) / 2);
        padding-left: $main-padding;
        grid-column-gap: $content-padding;
        > div:last-of-type{
          @include fluid-height(8rem, 45vh, 32rem);
          width: 100%;
          min-height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          img{
            width: 125%;
            object-fit: cover;
            object-position: 90% 50%;
          }
        }

        @include media("<=1280px"){
          display: block;
          margin-left: initial !important;

          > div:first-of-type{
            padding-bottom: $content-padding/4;
          }
        }
        @include media("<=tablet"){
          > div:first-of-type{
            padding: 0;
          }
        }
      }
    }
    &--content{
      margin: 0 auto;
      max-width: $main-width-max;
      padding: $content-padding $main-padding;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      padding-bottom: 0;

      >div:first-of-type{
        width: 300px;
        margin: 0 $content-padding 0 0;
        p {
          margin-bottom: 8px;
        }
      }

      .team--members{
        flex-grow: 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: $content-padding;
        align-items: flex-end;
        > div, a{
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          em{
            margin-top: 8px;
          }
        }

        >div {
          padding-top: 1.5rem;
        }
      }

      @include media("<=1280px"){
        padding: $content-padding/2 $main-padding;
        .team--members>div{
          padding: 1.5rem 0 .5rem;
        }
      }
      @include media("<=tablet"){
        padding: 0 $main-padding;
        >p:first-of-type{
          margin-top: 0;
        }
      }


    }
  }

  .methodology{
  }

  .clients{
    margin-top: 0;
    &--list{
      background: $page-background-color--dark;
      height: 32rem;
      width: 100%;
    }
  }
}

.Labs{
  &--overview{
    min-height: 30vh;
    min-height: calc(var(--vh, 1vh) * 30);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $menu-closed-height;
    margin-bottom: $content-padding/2;
    //background: red;
    > div {
      width: 100%;
    }
  }

  .border-button{
    padding: $content-padding/8 0  !important;
  }

  > section:last-of-type{
    margin-top: $content-padding/2;
  }

  &--wrapper{
    //margin-top: $menu-closed-height;
    margin: $section-padding/4 0;

    .lab{
      margin: $section-padding/2 0;
      @include media('<=tablet'){
        margin: $section-padding/4 0;
      }
      &--content{
        display: grid;
        //grid-template-columns: 300px 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 1rem;
        //padding-top: $content-padding/2;

        position: relative;
      }
      &--body{
        //height: calc( 100vw - 291px - #{$menu-closed-height});
        //height: 400px;
        //overflow-y: scroll;
        padding-top: $content-padding;
        p {
          max-width: 55ex;
        }
      }
      &--menu{
        position: sticky;
        //top: 300px;

        //background-color: red;
        top: calc(291px + #{$menu-closed-height});
        //top: 700px;
        height: calc(100vh - (291px + 24px) - #{$menu-closed-height} - #{$content-padding});
        //height: calc(var(--vh, 1vh) * 30);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content 1fr min-content;
        p {
          margin: 0;
        }
      }
    }
  }


  .deliverables{
    &--wrapper{

    }
    &--container{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-row: auto;
      column-gap: 2rem;
      row-gap: 2rem;
      margin: $content-padding*2.5 0;
      @include media('<=tablet'){
        margin: $content-padding 0;
      }

      &:last-of-type{
        margin-bottom: 0;
      }

      .deliverable{
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        > * {
          max-width: 100%;
        }
        p {
          word-wrap: break-spaces;
          //background-color: red;
          max-width: 100%;
        }
      }
    }
  }


}

.Deliverable, .Event{
  .banner{
    margin: $menu-closed-height 0 0;
    .title{
      max-width: $main-width-max;
      //margin: auto 0;
      padding: $content-padding 0;
    }
  }
  .overview{
    margin-top: $section-padding/2;
    .details{
      p{
        margin: 8px 0;
      }
    }
  }
  .content{
    &-block{
      margin: $section-padding 0;
      //max-width: 77ex;
    }
    &-special{
      margin: $section-padding/4 0;
    }
    &-image{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      max-height: 700px;
      img{
        flex: 1;
        width: 100%;
        height: auto;
      }
    }
    a{
      text-decoration: underline;
    }
  }
  .lab-link{
    cursor: pointer;
  }
  .columned-content{
    display: grid;
    grid-template-columns: 300px auto;
    align-items: center;
    margin-left: calc((100vw - #{$main-width-max}) / 2);
    padding-left: $main-padding;
    grid-column-gap: $content-padding;
    > div:last-of-type{
      background: url("/assets/img/membrane/cold-lines.jpg") center no-repeat;
      background-size: cover;
      background-size: 125%;
      background-position: 90% 50%;
      @include fluid-height(8rem, 45vh, 32rem);
      width: 100%;
      min-height: 100%;
    }

    @include media("<=1280px"){
      display: block;
      margin-left: initial !important;

      > div:first-of-type{
        padding-bottom: $content-padding/4;
      }
    }
    @include media("<=tablet"){
      > div:first-of-type{
        padding: 0;
      }
    }
  }


  #background-acommerce{
    background: url("/assets/img/background--acommerce.jpg") center center no-repeat;
    background-size: cover;
  }
  #background-foodturity{
    background: url("/assets/img/background--foodturity.jpg") center center no-repeat;
    background-size: cover;
  }
  #background-neuiro{
    background: url("/assets/img/background--neuiro.jpg") center center no-repeat;
    background-size: cover;
  }
}
.Event{
  .content, .columned-content, .event-footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}