@import "theme/constants";
@import "theme/vendor_mixins";

.landing{
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: stretch;
  color: $font-color;
  background-size: cover;

  .--vr{
    background: $font-color !important;
  }
  .buttonContainer{
    width: 100%;
    display: flex;
    align-content: baseline;
    justify-content: space-around;
  }
  .logo{
    max-height: 175px;
    width: auto;
    display: grid;
    align-items: center;
    svg{
      max-height: 175px;
    }
    @include media("<=tablet") {
      max-height: 100px;
      svg{
        max-height: 100px;
      }
    }
  }
  h4{
    max-width: 65ex;
    line-height: 150%;
  }
  p{
    text-align: right;
    width: 100%;
  }
  section{
    max-width: $main-width-max;
    width: 100%;
    margin: auto;
    padding: $section-padding/2 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .copy{
    margin: $content-padding;
  }
}