@import "theme/constants";

.icon {
  font-size: initial !important;
  box-sizing: border-box;
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }

  &.dark {

    svg,
    g,
    mask,
    use {
      fill: $icon-dark;
    }

  }

}