@import "theme/constants";
@import "theme/vendor_mixins";

.menu{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: $menu-closed-height;

  &.open{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    .menu-contents{
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      display: grid;
      grid-template-rows: $menu-closed-height 1fr;
    }

    >div{
      color: #fff;
      h1,h2,h3,h4,p,a,em, {
        //color: hsl(0,0,2);
        color: #fff;
        //mix-blend-mode: difference;
      }
      .border-button--line{
        background-color: #fff;
      }
      path{
        fill: #fff !important;
        mix-blend-mode: initial !important;
      }
      //mix-blend-mode: difference;
    }
  }


  &-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1rem $main-padding 0;
    height: $menu-closed-height;
    max-width: $main-width-max;
    width: 100%;
    margin: 0 auto;

    > div:first-of-type{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    span{
      cursor: pointer;
    }

    .menu-button{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: relative;
      cursor: pointer;

      .icon{
        height: 18px;
        width: 18px;
        min-height: 18px;
        min-width: 18px;
      }
      em{
        padding-left: 1rem;
        @extend %helper-text;
      }

      &-background{
        //min-width: 100%;
        //min-height: 100%;
        background-color: red;
        position: relative;
      }
    }

    h4{
      font-weight: bold !important;
    }

    .logo {
      width: auto;
      padding-right: $content-padding / 2;

      svg {
        height: auto;
        width: 60px;


        path {
          fill: $menu-color;
          //mix-blend-mode: difference;
        }
      }
    }
  }

  &.close{
    .menu-body{
      background-color: red;
      visibility: hidden;
    }
  }

  &-body{

    display: grid;
    grid-template-rows: auto min-content min-content;


    .nav-top{
      padding: 1rem $main-padding 0;
      max-width: $main-width-max;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto min-content;
      align-items: center;
      width: 100%;
      ul{
        list-style: none;
        padding: 0;
        li{
          padding: $content-padding/4 0;
          cursor: pointer;

          >div{
            display: grid;
            grid-template-columns: minmax(min-content, 300px) 1fr;
            align-items: baseline;
            grid-column-gap: $content-padding/2;

            >div {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
              grid-column-gap: $content-padding/4;
            }
          }
        }
      }
      @include media("<1024px"){
        h2{
          display: none;
        }
      }

      @include media("<=tablet") {
        h2{
          display: none;
        }
        ul{
          display: grid;
          grid-template-columns: repeat( auto-fill, minmax(300px,1fr));
          li {
            > div {

              display: flex;
            }
          }


          div{
            display: none;
          }

        }
      }

      @include media("<=550px"){
        li{
          padding: $content-padding/6 0;

        }
      }

        h2{
        opacity: 0.25;
        line-height: 150%;
      }
    }
    .border-button{
      padding: $content-padding/4 0;
    }
    .nav-bottom{
      padding: $content-padding/4 $main-padding $content-padding/4;
      max-width: $main-width-max;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto min-content min-content min-content min-content;
      grid-gap: $content-padding/2;
      @include media("<=525px") {
        grid-gap: $content-padding/5;
        grid-template-columns: auto min-content min-content min-content;
        grid-template-rows: 2fr;
      }

        width: 100%;
      .icon{
        position: relative;
        top: 3px;
        width: 20px;
        height: 100%;
      }
      a{
        text-decoration: underline !important;
      }
    }
  }
}