@import "theme/constants";
@import "theme/vendor_mixins";

.Menu{
  z-index: 9;
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  height: $menu-height;

  padding: 0 $main-padding;
  border: $line-thickness solid $menu-color;
  display: grid;
  grid-template-columns: min-content auto 115px;
  align-items: center;

  * {
    color: $menu-color !important;
  }
  mix-blend-mode: exclusion;

  .logoWrapper {
    width: 100%;
    cursor: pointer;

    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: $main-padding;
    justify-content: center;
    align-items: center;

    svg {
      height: auto;
      width: 60px;
      path {
        fill: $menu-color;
      }
    }
    em{
      font-weight: bold !important;
    }
  }

  ul{
    list-style: none;
    padding: 0 $main-padding*2;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
    height: 100%;
    li{
      cursor: pointer;
      height: 100%;
      display: grid;
      align-items: center;
    }
  }
  p{
    margin: 0;
    @include fluid-type(16px, 2vw, 1.1rem);
    color: $menu-color;
  }
  div:nth-of-type(2) > a{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
