@import "theme/constants";
@import "theme/vendor_mixins";

.Menu{
  z-index: 9;
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  height: $menu-height;

  padding: 0 $main-padding;
  border: $line-thickness solid $menu-color;
  display: grid;
  grid-template-columns: min-content auto 115px;
  align-items: center;

  * {
    color: $menu-color !important;
  }
  mix-blend-mode: exclusion;

  .logoWrapper {
    width: 100%;
    cursor: pointer;

    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: $main-padding;
    justify-content: center;
    align-items: center;

    svg {
      height: auto;
      width: 60px;
      path {
        fill: $menu-color;
      }
    }
    em{
      font-weight: bold !important;
    }
  }

  ul{
    list-style: none;
    padding: 0 $main-padding*2;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
    height: 100%;
    li{
      cursor: pointer;
      height: 100%;
      display: grid;
      align-items: center;
      overflow: hidden;
      //> div {
      //  position: relative;
      //  top: -9px;
      //}
      a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0;
          background-color: white;
          // todo -- put this into another file
          transition: height .1s cubic-bezier(0.16, 1, 0.3, 1);
        }
      }
      a:hover{
        &:after{
          height: 8px;
        }
      }
      a.active{
        &::before{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 8px;
          background-color: white;
        }
      }
    }
  }
  p{
    margin: 0;
    @include fluid-type(16px, 2vw, 1.1rem);
    color: $menu-color;
  }
  div:nth-of-type(2) > a{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* Mobile */
  @include media("<=880px") {
    top: .5rem !important;
    height: calc(#{$menu-height} * .50) !important;
    padding: 0 $main-padding / 2 !important;
    //> div {
    //  display: grid;
    //  align-items: center;
    //}
  }
}