@import "theme/constants";

.divided_content{
  display: grid;
  grid-template-columns: 210px 2px 1fr;
  grid-template-rows: 1fr;
  column-gap: 15%;
  align-items: center;

  .--vr{
    background-color: $menu--color;
    width: $line--thickness;
    height: 100%;
  }

  div:last-of-type{
    //padding-left: $content-padding;
  }


}