@import "theme/constants";

.divided_content{
  display: grid;
  grid-template-columns: 250px 2px 1fr;
  grid-template-rows: 1fr;

  column-gap: 10%;


  align-items: center;

  .--vr{
    @extend %vr;
  }

  div:last-of-type{
    //padding-left: $content-padding;
  }


}