@import "theme/constants";
@import "theme/vendor_mixins";

.DividedContent{
  display: grid;
  grid-template-columns: 275px 2px 1fr;
  &.smallLeft{
    grid-template-columns: 175px 2px 1fr;
  }
  grid-template-rows: 1fr;
  column-gap: 10%;

  @include media("<=tablet") {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto 1fr !important;
    .--vr{
      display: none;
    }
  }

  align-items: center;

  .--vr{
    @extend %vr;
  }
  .--vr.hidden{
    visibility: hidden;
  }

  div:last-of-type{
    //padding-left: $content-padding;
  }
}